:root {
  --primary-clr-light: hsl(14, 45%, 36%);
  --primary-clr-dark: hsl(332, 51%, 32%);
  --secondary-clr-white: hsl(0, 0%, 100%);
  --secondary-clr-rose: hsl(330, 100%, 98%);
  --secondary-clr-egg: hsl(30, 54%, 90%);
  --secondary-clr-grey: hsl(30, 18%, 87%);
  --secondary-clr-brown: hsl(30, 10%, 34%);
  --secondary-clr-dark: hsl(24, 5%, 18%);
}

@font-face {
  font-family: Outfit;
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: YoungSerif;
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

body {
  background-color: var(--secondary-clr-egg);
  font-family: Outfit, sans-serif;
  color: var(--primary-clr-dark);
}

main {
  background-color: var(--secondary-clr-white);
  max-width: 736px;
}

section {
  margin-bottom: 32px;
}

section:last-child {
  margin-bottom: 0px;
}

#content {
  padding: 40px 32px;
}

#food-img {
  max-width: 100%;
  min-height: 171px;
}

#prep-time {
  padding: 24px;
  background-color: var(--secondary-clr-rose);
}

#prep-time ul {
  margin-top: 16px;
}

li {
  margin-bottom: 8px;
  margin-left: 1.75em;
}

li:last-child {
  margin-bottom: 0;
}

.txt-h-large {
  font-size: 40px;
  font-family: YoungSerif, sans-serif;
  line-height: 100%;
  color: var(--secondary-clr-dark);
}

.txt-h-med {
  font-size: 28px;
  font-family: YoungSerif, sans-serif;
  line-height: 100%;
  margin-bottom: 24px;
}

.txt-h-small {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
}

.txt-reg {
  line-height: 150%;
  font-weight: 400;
  color: var(--secondary-clr-brown);
}

.bold {
  font-weight: 700;
}

.line-break {
  width: 100%;
  border: 1px solid var(--secondary-clr-grey);
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--secondary-clr-grey);
  margin: 12px 0;
}

tr:last-child {
  border: 0;
}

th {
  padding-left: 25px;
}

#nutrition p {
  margin-bottom: 24px;
}

#description p {
  margin-top: 24px;
}

@media screen and (min-width: 500px) {
  body {
    display: flex;
    justify-content: center;
    align-content: left;
  }
}
